<% if products.any? %>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Podobne produkty</a>
    </li>
  </ul>
  <div id="tags_related_products" class="mt-3 col-md-12" data-hook="tags_related_products">
    <div class="row">
      <% products.each do |product, index| %>
        <div id="product_<%= product.id %>" class="col-sm-3 col-6 mb-3 mb-md-3 pr-sm-0 pr-md-0 pl-md-3 pl-sm-3 <%= index&1 == 0 ? 'pl-0 pr-2' : 'pr-0 pl-2' %>">
          <%= render 'spree/shared/product', product: product, image_class: 'product-component-plp-image' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
