<div class="row" data-hook="product_description">
  <div class="col-12">
    <%= render partial: 'description' %>
  </div>
  <div class="d-none d-lg-block col-lg-1"></div>
  <div class="col-12 col-md-5" data-hook="product_properties">
    <%= render partial: 'properties' %>
  </div>
  <div class="col-12" data-hook="promotions">
    <%= render partial: 'promotions' %>
  </div>
</div>
